*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
body{
    background-color: #eff0f4;
}
.clearfix::after{
    content: '';
    display: block;
    clear:both;
}
.fl{
    float: left;
}
input{
    border:none;
	-webkit-tap-highlight-color: transparent;
}
.login_box{
    height: 100%;
}
.header{
    height: 45px;
    line-height: 45px;
    background-color: #5fc0cd;
    text-align: center;
    color:#fff;
    font-size: 16px;
    position: relative;
}
.close , .register{
    position: absolute;
}
.close{
    left: 15px;
}
.register{
    right: 15px;
}
.login_content{
    background-color: #fff;
    padding:12px 0;
    margin-top: 8px;
}
.login_content input{
    height: 26px;
    padding-left:16px;
    outline: none;
    font-size: 16px;
}
.phone{
    width: 13px;
    padding: 3px 22px;
	border-right: 2px solid #eaedee;

}
.login_content input::-webkit-input-placeholder { /* WebKit browsers */
    color: #e1e5e7;
}
.login_content input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #e1e5e7;
}
.login_content input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #e1e5e7;
}
.login_content input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #e1e5e7;
}
.login_btn{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color:#fff;
    background-color: #5fc0cd;
    margin-top: 35px;
}
.findpwd{
    float: right;
    padding: 10px;
    color: #5fc0cd;
}