header{
    width: 100%;
    height: 40px;
    background-color: #44a8a8;
    position: fixed;
    left:0;
    top:0;
    z-index: 999;
    font-size: 17px;
    color:#fff;
    line-height: 40px;
    text-align: center;
}
header .close,header .sd{
    width: 29px;
    position: absolute;
    top:7px;
}
header .close{
    left:8%;
}
header .sd{
    right:8%;
}