.box{
    width: 100%;
    /*height: 100%;*/
    background-color: #fff;
    /*max-width: 750px;*/

}


.reg_box{
    width: 90%;
	margin: 40px auto;
}
.reg_box_header{
	width:100%;
	padding: 25px 0 20px 0;
}
.reg_box_header a{
	display: inline-block;
	width:25%;
}
.reg_box_header i{
	width:62px;
	height:61px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	background-size: 100% !important;
	background-repeat: no-repeat !important;
}
.tuoke1{
	background: url("../../img/mobile/tuoke1.png");
}
.tuoke2{
	background: url("../../img/mobile/tuoke2.png") !important;
}
.chuangke1{
	background: url("../../img/mobile/chuangke1.png");
}
.chuangke2{
	background: url("../../img/mobile/chuangke2.png");
}
.chuangye1{
	background: url("../../img/mobile/chuangye1.png");
}
.chuangye2{
	background: url("../../img/mobile/chuangye2.png");
}
.chuangtou1{
	background: url("../../img/mobile/chuangtou1.png");
}
.chuangtou2{
	background: url("../../img/mobile/chuangtou2.png");
}
.reg_box_header img{
	width:62px;
	height:61px;
	position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.reg_box_header span{
	display:block;
	font-size:12px;
	color:#666;
	text-align:center;
	padding-top:9px;
}
.reg_box .item{
	display:block;
	height:49px;
	line-height:49px;
	border:1px solid #999;
	border-radius: 5px;
	margin-bottom:10px;
	color:#999;
}
.reg_box .item span{
	/*margin-left:73px;*/
	margin-left:43px;
	font-size:13px;

}
.sub{
	width:100%;
	height:50px;
	background-color: #44a8a8;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
}
.ck{
	margin-left: 15px;
	padding-top: 12px;
	color: #44a8a8;
}
.tuokeitem{
	color:#62bef9 !important;
	border-color: #62bef9 !important;
}
.chuangkeitem{
	color:#fac02e !important;
	border-color: #fac02e !important;
}
.chuangyeitem{
	color:#814ad0 !important;
	border-color: #814ad0 !important;
}
.chaungtouitem{
	color:#f66657 !important;
	border-color: #f66657 !important;
}
.item i{
	display: inline-block;
	width: 29px;
	/*background: url(../../img/mobile/gift_blue.png);*/
	height: 29px;
	background-repeat: no-repeat !important;
	background-size: 100% !important;
	position: relative;
	left: 20px;
	top: 7px;
}
.giftBlue{
	background: url(../../img/mobile/gift_blue.png) !important;
}
.issueGray{
	background: url(../../img/mobile/issue_gray.png) !important;
}
.advGray{
	background: url(../../img/mobile/adv_gray.png) !important;
}
.frinedsGray{
	background: url(../../img/mobile/frineds_gray.png) !important;
}
 .shopGray{
	 background: url(../../img/mobile/shop_gray.png) !important;
 }
 .sellerBlue{
	 background: url(../../img/mobile/seller_blue.png) !important;
 }

 .advYellow{
	 background: url(../../img/mobile/adv_yellow.png) !important;
 }
 .shopYellow{
	 background: url(../../img/mobile/shop_yellow.png) !important;
 }
 .frinedsYellow{
	 background: url(../../img/mobile/frineds_yellow.png) !important;
 }
 .sellerYellow{
 	 background: url(../../img/mobile/seller_yellow.png) !important;
 }
 .giftYellow{
	 background: url(../../img/mobile/gift_yellow.png) !important;
 }

.advPurple{
	background: url(../../img/mobile/adv_purple.png) !important;
}
.shopPurple{
	background: url(../../img/mobile/shop_purple.png) !important;
}
.frinedsPurple{
	background: url(../../img/mobile/frineds_purple.png) !important;
}
.sellerPurple{
	background: url(../../img/mobile/seller_purple.png) !important;
}
.giftPurple{
	background: url(../../img/mobile/gift_purple.png) !important;
}

.advRed{
	background: url(../../img/mobile/adv_red.png) !important;
}
.shopRed{
	background: url(../../img/mobile/shop_red.png) !important;
}
.frinedsRed{
	background: url(../../img/mobile/frineds_red.png) !important;
}
.sellerRed{
	background: url(../../img/mobile/seller_red.png) !important;
}
.giftRed{
	background: url(../../img/mobile/gift_red.png) !important;
}
.issueRed{
	background: url(../../img/mobile/issue_red.png) !important;
}

.ck img{
	width: 24px;
	margin-top: -2px;
}

